@import "tailwindcss";

:root {
  font-family: 'Space Grotesk', sans-serif, system-ui;
  line-height: 1.5;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #191716;
  background-color: #191716;
}